<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/users/register" method="POST">
        
        <label for="first_name">First Name</label><br>
        <input type="text" name="first_name" id="first_name"><br>

        <label for="last_name">Last Name</label><br>
        <input type="text" name="last_name" id="last_name"><br>

        <label for="username">Username</label><br>
        <input type="text" name="username" id="username"><br>

        <label for="email">Email</label><br>
        <input type="text" name="email" id="email"><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br>

        <label for="birth_date">Birth Date</label><br>
        <input type="date" name="birth_date" id="birth_date"><br>
        
        <input type="submit" value="Register">
    </form>
</body>
</html>